@import '../../../app/styles/mixins';
@import '../../../app/styles/variables';

.header__desktop {
  display: none;

  @include media-query(md) {
    @include flex-align(space-between);
  }
}

.header__icons {
  display: flex;
}

.menu__list {
  display: none;

  @include media-query(md) {
    display: block;
  }
}
