@import '../../../app//styles/mixins'; 
@import '../../../app//styles/variables'; 

.about {
  position: relative;
  width: 100%;
  padding: 38px 24px 32px 24px;

  @include media-query(lg) {
    padding: 80px;
  }
}

.word-highlight {
  @include word-highlight();

  @include media-query(md) {
    @include word-highlight(32px);
  }
}

.about-title {
  position: absolute;
  font-size: clamp(1.3rem, 4vw, 3.5rem);
}

.about-title--style {
  margin-top: 25px;

  @include media-query(md) {
    margin-top: 48px;
  }
}

.about-title-second-line {
  @include media-query(lg) {
    display: block;
    text-align: right;
  }
}

.about-content {
  display: flex;
  align-items: start;
}

.about-text-style {
  max-width: 45%;
  margin-top: clamp(88px, 15vw, 100px);
  font-family: "Lora", sans-serif;

  @include media-query-tablet(md, lg) {
    font-size: 24px;
    max-width: 70ch;
    margin-left: clamp(10px, 4vw, 100px);
    margin-top: 60px;
  }

  @include media-query(lg) {
    font-size: 32px;
    max-width: 70ch;
    margin-left: clamp(10px, 10vw, 100px);
    margin-top: 60px;
  }
}

.about-wrapper-img {
  width: 100%;
  height: 323px;
  margin-left: 15px;

  @include media-query-tablet(md, lg) {
    height: 354px;
    margin-left: -45px;
  }

  @include media-query(lg) {
    height: 513px;
    margin-top: 75px;
  }
}

.about-img {
  height: 100%;
  margin-top: -10px;
  border-radius: 8px;
  object-fit: contain;
}

.highlight {
  color: $hover-light-red;
}

.about-title--beliefs {
  top: clamp(310px, 15vw, 280px);

  @include media-query(lg) {
    top: -150px;
    margin-left: clamp(10px, 10vw, 100px);
  }
}

.about-info {
  display: flex;
  justify-content: space-between;
  margin-top: -7px;

  @include media-query-tablet(md, lg) {
    display: block;
    margin-top: clamp(-230px, -30vw, -240px);
  }

  @include media-query(lg) {
    margin-top: clamp(-170px, -20vw, -7px);
  }
}

.about-text-beliefs {
  flex: 1;
  max-width: 48%;
  font-size: 14px;

  @include media-query-tablet(md, lg) {
    font-size: 16px;
    max-width: 70%;
    margin-bottom: 16px;
  }

  @include media-query(lg) {
    font-size: 20px;
    flex: 1 1 30%;
  }
}

.about-text--indent {
  @include media-query(lg) {
    margin-right: 20px;
  }
}

@include media-query(md) {
  .about {
    display: grid;
    grid-template-columns: 1fr 12% 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
  }

  .about-content {
    display: contents;
  }

  .about-title--style {
    grid-column: 1;
    grid-row: 1;
  }

  .about-title--beliefs {
    grid-column: 3;
    grid-row: 2;
  }

  .about-wrapper-img {
    grid-column: 2;
    grid-row: 1;
  }

  .about-content {
    grid-column: 3;
    grid-row: 1;
  }

  .about-info {
    grid-column: 1;
    grid-row: 2;
  }
}
