@import '../../app/styles/mixins';
@import '../../app/styles/variables';

.mainBanner {
  position: relative;
  width: 100%;
}

.wrapperBanner {
  width: 100%;
  height: 390px;
  background-color: $white-text;
  margin-bottom: 8px;

  @include media-query(sm) {
    height: 565px;
    padding-top: 0;
  }
}

.imgBanner {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.homePageTitle {
  position: absolute;
  color: $black-text;

  font-size: clamp(1.8rem, 5vw, 4rem);
  top: clamp(1rem, 3vw, 3.75rem);

  @media (max-width: 370px) {
    font-size: 24px;
  }
}

.homePageText {
  position: absolute;
  color: $black-text;
  font-family: 'Lora', sans-serif;

  font-size: clamp(1rem, 2.7vw, 1.9rem);
  top: clamp(5rem, 16vw, 13rem);
}

.homePageButton {
  width: 100%;
  @include flex-align(center);

  @include media-query-tablet(md, lg) {
    margin-top: 14px;
  }

  @include media-query(lg) {
    position: absolute;
    width: 30%;
    top: 346px;
    color: $white-text !important;
    background-color: $black-text !important;
  }
}
