@import '../../../app/styles/_mixins.scss';
@import '../../../app/styles/variables.scss';

.header__nav {
  display: flex;
  gap: 20px;
}

.footer__nav {
  display: none;
}

.nav_link {
  font-weight: 400;
  font-size: 20px;
  color: #f9f9f9;
  transition: color, 0.5s;
}

@include media-query(md) {
  .footer__nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .nav_link:hover {
    color: $hover-red;
  }

  .nav_link:hover {
    color: $hover-light-red;
    transition-delay: 0.2s;
  }
}
