@use 'sass:map';
@import './variables.scss';

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
);

@mixin media-query($size, $type: min) {
  @media (#{$type}-width: map.get($breakpoints, $size)) {
    @content;
  }
}

@mixin media-query-tablet($min-size, $max-size) {
  @media (min-width: map.get($breakpoints, $min-size)) and (max-width: map.get($breakpoints, $max-size)) {
    @content;
  }
}

@mixin flex-align($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
}

@mixin self-align($justify: center) {
  display: flex;
  justify-self: $justify;
}

@mixin word-highlight($big: 24px) {
  font-size: $big;
  color: $hover-red;
}

@mixin hover($property, $toValue, $animDuration: 0.3s) {
  // для створення анімації при наведенні. Синтаксис: @include hover(transform, scale(1.1), 0.5)
  transition: #{$property} $animDuration;
  &:hover {
    #{$property}: $toValue;
  }
}

@mixin page-grid {
  // полегшує використання гріда. Синтакс: @include page-grid;
  --columns: 4;

  display: grid;

  column-gap: 16px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include media-query(md) {
    --columns: 8;
  }
  @include media-query(lg) {
    --columns: 12;
    column-gap: 20px;
  }
}
