$hover-light-red: #f14156;
$hover-red: #ef233c;
$main: #181516;
$footer: #020301;
$red-text: #ef233c;
$black-text: #020301;
$white-text: #f9f9f9;
$subscription-margin-bottom: 8px;
$mobile-font-size: 16px;
$desktop-font-size: 20px;

$padd-inl-phone: 24px;
$padd-inl-desk: 80px;

$icon-size-big: 24px;
$icon-size-small: 16px;

$margin-vertical-mobile: 32px;
$margin-vertical-tablet: 46px;
$margin-vertical-desktop: 80px;
$margin-bottom-big: 48px;
$anim-duration: 0.3s;
