@import 'normalize.css';
@import '../styles/variables';
@import '../styles/mixins';

@font-face {
  font-family: 'Medium';
  src: url('../../../public/Medium.otf') format('opentype');
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  //overflow-x: hidden;
}

html,
body {
  height: 100%;
  background-color: #181516;
  color: $white-text;
  font-family: "Roboto", sans-serif;
  letter-spacing: -0.02em;
  font-weight: 400;
}

.wrapper {
  display: flex; 
  flex-direction: column; 
  min-height: 100vh; 
}

main {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: $white-text;
} 

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3 {
  font-family: "Medium", sans-serif;
  font-weight: 400;

  padding: 0;
  margin: 0;
}

// h1 {
//   font-size: 31px;

//   @include media-query(md) {
//     font-size: 64px;
//   }
// }

// h2 {
//   font-size: 22px;

//   @include media-query(md) {
//     font-size: 56px;
//   }
// }

main {
  flex: 1;
}
