@import '../../app/styles/mixins.scss';
@import '../../app/styles/variables.scss';

.footer {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.footer__header {
  display: flex;
  margin-bottom: 16px;
}

.footer_icons {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}

.contacts_desktop {
  display: none;
}

@include media-query(md) {
  .footer {
    display: grid;
    grid-template-areas:
      'header links icons'
      'subscription links contacts'
      'subscription links paymentIcons';
    grid-template-columns: auto 1fr 1fr;
    padding: 80px 80px 40px 80px;
  }

  .footer__header {
    grid-area: header;
    margin-bottom: 48px;
  }

  .footer_subscription {
    grid-area: subscription;
  }

  .footer__nav {
    @include self-align(center);
    grid-area: links;
    align-self: center;
  }

  .footer_icons {
    @include self-align(end);
    grid-area: icons;
  }

  .payment_icons {
    @include self-align(end);
    grid-area: paymentIcons;
  }

  .contacts_desktop {
    @include self-align(end);
    grid-area: contacts;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }
}

.footer_logo {
  margin-top: -20px;
}

.title_footer {
  font-size: 16px;
  color: $white-text;
  margin-left: 18px;
}

.updates {
  font-family: 'Lora', sans-serif;
  color: #ef233c;
  margin-bottom: $subscription-margin-bottom;
}

.subscribe {
  font-size: 14px;
  margin-bottom: $subscription-margin-bottom;
}

.copyright_info {
  @include flex-align(center);
  font-size: 12px;
  margin-top: 24px;
  margin-bottom: $subscription-margin-bottom;
}

.privacy {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.contact {
  font-size: $desktop-font-size;
}

.footer_email {
  margin-left: -20px;
  margin-bottom: 65px;
}

.payment_icons {
  @include flex-align(center);
  gap: 10px;
}

@include media-query(md) {
  .title_footer {
    font-size: $desktop-font-size;
  }

  .updates {
    margin-bottom: 20px;
    font-size: $desktop-font-size;
  }

  .copyright_info {
    margin-top: 48px;
    justify-content: start;
    font-size: $desktop-font-size;
  }

  .subscribe {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .icon_hidden_desktop {
    display: none;
  }
}
