@import '../../../app/styles/mixins';
@import '../../../app/styles/variables';

.header__mobile {
  display: block;

  @include media-query(md) {
    display: none;
  }
}

.mobile__wrapper {
  @include flex-align(space-between);
  align-items: center;
}

.header__left,
.header__right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.input-container {
  @include flex-align(center);
}

.menu__list {
  display: none;
}
