@import '../../app/styles/mixins';
@import '../../app/styles/variables';

.home-page-main {
  margin-top: 16px;
}

.main-banner {
  position: relative;
  width: 100%;

  @include media-query(md) {
    margin-top: 60px;
  }
}

.wrapper-banner {
  width: 100%;
  height: 390px;
  padding-top: 15px;
  background-color: $white-text;
  margin-bottom: 8px;

  @include media-query(md) {
    height: 565px;
    padding-top: 0;
  }
}

.img-banner {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;

  @include media-query-tablet(md, lg) {
    //object-fit: contain;
  }
}

.home-page-title {
  position: absolute;
  color: $black-text;

  font-size: clamp(1.8rem, 5vw, 4rem);
  top: clamp(1rem, 3vw, 3.75rem);
  left: clamp(1.5rem, 4vw, 5rem);
}

.home-page-text {
  position: absolute;
  color: $black-text;
  font-family: 'Lora', sans-serif;

  font-size: clamp(1rem, 2.7vw, 1.9rem);
  top: clamp(5rem, 16vw, 13rem); 
  left: clamp(1.5rem, 4vw, 5rem);
}

.home-page-button {
  @include flex-align(center);

  @include media-query-tablet(md, lg) {
    margin-top: 14px;
  }

  @include media-query(lg) {
    position: absolute;
    top: 346px;
    left: 80px;
  }
}